.container {
  display: flex;
}
.item {
  margin: 1rem;
}
.bell,
.mailbox,
.comment {
  height: 25px;
  width: 25px;
  fill: #2980b9;
}
.bell,
.mailbox {
  background: #d4e6f1;
  padding: 0.8rem;
}
.bell {
  border-radius: 50%;
}
.mailbox {
  border-radius: 4px;
}
.bell-badge,
.mailbox-badge,
.comment-badge {
  position: relative;
  border: none;
  background: none;
}
.mailbox-badge[data-badge]::after {
  content: attr(data-badge);
  font-size: 0.85rem;
  background: #c0392b;
  padding: 2px 6px;
  color: white;
  position: absolute;
  bottom: -3px;
  right: 13px;
  border-radius: 8px;
}
.bell-badge[data-badge]::after {
  content: attr(data-badge);
  width: 18px;
  height: 18px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -2px;
  right: 4px;
  font-size: 0.85rem;
  background: #c0392b;
  color: white;
  border-radius: 50%;
}
.comment-badge::after {
  content: '';
  color: white;
  width: 10px;
  height: 10px;
  background: #c0392b;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 13px;
  right: 6px;
}
